# Ignore database file
database.db

# Ignore session files
flask_session/*

# Ignore "video" files
video/*
# Keep "video" directory
!video/out
# Ignore content from "out" directory
video/out/*
# Keep "out" directory
!video/out/.gitkeep
