<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ClipFusion</title>
  <script src="/static/cdn.tailwindcss.min.js"></script>
</head>
<body class="flex flex-col min-h-screen">
  <header class="flex items-center justify-between py-6 px-12 bg-slate-600">
    <div class="text-slate-200 font-bold text-xl">
      <a class="tracking-wide" href="{{ url_for('index') }}">
        ClipFusion
      </a>
    </div>
    <div>
      <ul class="flex gap-4 text-slate-300 text-lg font-semibold underline">
        <li><a href="{{ url_for('video') }}">Merge Videos</a></li>
        <li><a href="#">History</a></li>

        <li><a class="px-2 py-1 bg-slate-300 text-slate-600 rounded-lg underline" href="#">Sign In</a></li>
        
      </ul>
    </div>
  </header>
  <main class="flex-1 bg-slate-700 text-slate-300">
    {% block content %}{% endblock %}
  </main>
</body>
</html>